#register-product-registration.panel > .panel-heading {
    background-color: #c8e589;
    border-color: #8fbf2d;
    color: #55555b;
}

#register-product-registration.panel {
    border-color: #8fbf2d;
}

.help-block-antenna {
    font-style: italic;
    color: #959595;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-group-antenna {
    margin-bottom: 0;
}