<a href="{url path="/warranty-registration"}" class="btn btn-add-product-registration">{intl l="Add a new product"}</a>
<div id="product-registration-{$customer_id}">
    <div class="table-responsive">
        <table class="table table-striped table-left-aligned table-product-registration">
            <thead>
            <tr>
                <th>{intl l="Transceiver" d="productregistration.bo.default"}</th>
                <th>{intl l="Serial number" d="productregistration.bo.default"}</th>
                <th>{intl l="Warranty" d="productregistration.bo.default"} *</th>
                <th>{intl l="Date Purchase" d="productregistration.bo.default"}</th>
                <th>{intl l="Antenna" d="productregistration.bo.default"}</th>
                <th>{intl l="Where Purchase" d="productregistration.bo.default"}</th>
            </tr>
            </thead>
            <tbody>
            {loop type="product_registration" name="product_registration" customer_id="{$customer_id}"}
            <tr>
                {loop type="product" name="product_tranceiver" id="{$TRANSCEIVER_ID}" limit=1 visible="*"}
                <td><a href="{$URL}">{$TITLE}</a></td>
                {/loop}
                <td>{$SERIAL_NUMBER}</td>
                <td>{$WARRANTY} {intl l="years" d="productregistration.bo.default"}<br />{if $ETAT_WARRANTY}{$warrantyStatus = 'Under warranty'}{$warrantylabel = 'success'}{else}{$warrantyStatus = 'Out of Warranty'}{$warrantylabel = 'danger'}{/if}<span class="label {$warrantylabel} label-{$warrantylabel}">{$warrantyStatus}</span></td>
                <td>{format_date date=$DATE_PURCHASE output="date"}</td>
                {if {$ANTENNA_ID} != {config key="productRegistration_idOtherAntenna"} && {$ANTENNA_ID} != '0'}
                    {loop type="product" name="product_antenna" id="{$ANTENNA_ID}" limit=1 visible="*"}
                        <td><a href="{$URL}">{$TITLE}</a></td>
                    {/loop}
                {else}
                    <td>{$OTHER_ANTENNA}</td>
                {/if}
                <td>{$WHERE_PURCHASE}</td>
            </tr>
            {/loop}
            {ifloop rel="product_registration"}
            <tr>
                <td colspan="6">* Warranty given for information purposes according to your statements, subject to the presentation of the invoice.</td>
            </tr>
            {/ifloop}
            {elseloop rel="product_registration"}
            <tr>
                <td colspan="5">
                    <div class="alert alert-info">
                        {intl l="You have no registered product." d="productregistration.bo.default"}
                    </div>
                </td>
            </tr>
            {/elseloop}

            </tbody>
        </table>
    </div>

</div>
<div style="height: 20px;">&nbsp;</div>
